*.class
*.pyc
*.pyo
*.mp3
*.mp4
*.mov
*.tif
*.tiff
*.bmp
*.ps
*.pdf
*.xml
*.zip
*.rar
*.tar
*.gz
*.txt
*.old
*.bak
*.eps
*.ai
.settings
.project
.settings/com.aptana.editor.php.prefs
members/detailProd-Copia.php
partners/zenphoto/albums
partners/zenphoto/cache
.project~ 
/nbproject/ 
/partners/zenphoto/
/assets/plugins/fullcalendar/
/assets/plugins/jquery/
/assets/plugins/jquery-ui/
/assets/pagefooter_new.php
/.config.ini
/include-js/chosen/nbproject/private/
/members/assets/plugins/jquery.mobile/demos/

